/*

	Some Variables for edit

*/

$intro-width: 45%;
$primary-color: #59a726;
$dark-color: #282828;
$light-color: #ffffff;
$semilight-color: #f5f5f5;
$placeholder-color: #7c7c7c;
$frame-color: #888888;
$dark-primary-color: #2d6636;
$link-color: #3482e3